<h2>componente show</h2>


<div class="d-grip gap-2 mt-4">
    <a routerLink="/create" type="button" class="btn btn-primary">Crear</a>
</div>

<table class="table table-hover table-striped mt-3">
    <thead class="bg-dark text-white">
        <tr>
            <th>Titulo</th>
            <th>Contenido</th>
            <th>Autor</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let crud of Cruds">
            <td>{{ crud.title }}</td>
            <td>{{ crud.content }}</td>
            <td>{{ crud.author }}</td>
            <td>
                <button routerLink="/edit/{{crud.id}}" class="btn btn-outline-secondary m-2"><i class="fa-solid fa-pen"></i></button>
                <button (click)="deleteRow(crud)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>